WEATHER_RAPID_API_HOST=ABC
WEATHER_RAPID_API_KEY=ABC
PEXELS_API_HOST=ABC
PEXELS_API_KEY=ABC
COHERE_API_KEY=ABC
HOTEL_BASE_URL=ABC
HOTEL_API_KEY=ABC
HOTEL_API_HOST=ABC
TBO_URL=ABC
TBO_KEY=ABC
OPEN_AI_KEY=ABC
GPT_MODEL_ID=ABC
GEMINI_API_KEY=ABC
